@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

:root{
    --darkGreen: #61892f;
    --lightGreen: #86c232;
    --dark: #222629;
    --darkGrey: #474b4f;
    --lightGrey: #6b6e70;    
    --font1: 'Roboto', sans-serif;
    --font2: 'Itim', cursive;
    --font3: 'Texturina', serif;
}
html , body{
    margin: 0px;

}

header{

}
#navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 8vh;
    background-color: black;
}
#nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin: 0px 10px;
    cursor: pointer;
}
#nav-icon img{
    max-width: 90%;
    max-height: 90%;
}

#nav-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    margin: 0px 10px;
    font-size: 2.5rem;
    color: var(--lightGreen);
    font-weight: bolder;
    font-family: var(--font3);
    text-shadow: 0px 0px 10px white;
}
#nav-desc{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70%;
    margin: 0px 10px;
    padding: 10px 0px;
    font-size: 1.7rem;
    color: white;
    font-family: var(--font2);
    text-shadow: 0px 0px 10px white;
}

#main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background-color: var(--dark);
    background-image: linear-gradient(to right,var(--dark),var(--darkGreen));
}
#description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    margin: 10px;
}
#chat-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 85%;
    margin: 10px;
}
#room-status{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 95%;
    margin: 10px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--lightGreen);
}
#channel-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 3px;
    height: 10%;
    background-color: var(--darkGreen);
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    font-family: var(--font1);
    text-shadow: 0px 0px 10px black;
    box-shadow: 0px 0px 5px white;
}
#leave-box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 10%;
    margin: 10px;
}
#leave-box button{
    height: 40px;
    width: 70px;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font1);
    box-shadow: 0px 0px 5px var(--lightGreen);
}
#online-users{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 5px;
    padding: 5px 0px;
    overflow-y: scroll;
    height: 70%;
    box-shadow: 0px 0px 20px white inset;
}
#online-users::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#online-users::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

#online-users::-webkit-scrollbar-thumb
{
	background-color: var(--darkGrey);
}

.online-user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
    font-size: 1.5rem;
    margin: 5px;
    width: 80%;
    padding: 0px 5px;
    color: white;
    font-weight: bold;
    background-color: var(--dark);
    border-radius: 10px;
    font-family: var(--font2);
    overflow-x: hidden;
    text-overflow: ellipsis;
}
#chat-inbox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 95%;
    margin: 10px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--lightGreen);
}
#chat-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 97%;
    height: 80%;
    margin: 5px 5px;
    background: url('../media/chat_background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    box-shadow: 0px 0px 40px black inset;
}
#chat-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#chat-box::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#chat-box::-webkit-scrollbar-thumb
{
	background-color: var(--darkGrey);
}

.left-message-box-container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 5px 0px;
}
.right-message-box-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 5px 0px;
}
.left-message-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px 20px;
    margin-right: 60px;
    background-color: var(--lightGreen);
    border-radius: 10px;
    max-width: 600px;
    word-break: break-all;
}
.right-message-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px 20px;
    margin-left: 60px;
    background-color: var(--lightGreen);
    border-radius: 10px;
    max-width: 600px;
    word-break: break-all;
}
.message-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    margin: 5px 0px;
    width: 100%;
}
.message-username{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    width: 90%;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    font-family: var(--font1);
}
.message-time{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8rem;
    width: 70px;
    padding-left: 10px;
    color: var(--lightGrey);
}
.message-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
    margin: 2px 5px;
    font-size: 1.2rem;
    font-family: var(--font2);
}
#emoji-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 00%;
    margin: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #F5F5F5;
}
.emoji-category{
    display: grid;
    grid-template-columns: repeat(15,auto);
    width: 100%;
    margin: 5px;
    border: solid 1px black;
}
.emoji-element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0px;
    cursor: pointer;
}
.emoji-element:hover{
    border: solid 1px var(--lightGreen);
    border-radius: 10px;
}
#message-form-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 10%;
    margin: 5px;
    background-color: var(--lightGreen);
    box-shadow: 0px 0px 10px white;
}

#message-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 90%;

}
#message-input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    padding: 0px 20px;
    font-size: 1.2rem;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black inset;
}
#emoji-button{
    height: 60%;
    width: 6%;
    margin: 10px;
    background: url('../media/emoji_icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px black;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px black inset;
}
#message-send-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 70%;
    margin: 0px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: var(--font1);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 5px black;
}

#activity-container{

}


#section2{

}
footer{
    display: flex;
    width: 100%;
    height: 2vh;
    background-color: black;
}