
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');

:root{
    --darkGreen: #61892f;
    --lightGreen: #86c232;
    --dark: #222629;
    --darkGrey: #474b4f;
    --lightGrey: #6b6e70;    
    --font1: 'Roboto', sans-serif;
    --font2: 'Itim', cursive;
    --font3: 'Texturina', serif;
}
html , body{
    margin: 0px;

}

header{

}


#nav-title{
    margin: 0px 3px;
    font-size: 1rem;
    color: var(--lightGreen);
    font-weight: bolder;
}
#nav-desc{
    height: 70%;
    margin: 0px 3px;
    padding: 10px 0px;
    font-size: 1rem;
}

#main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main-heading{
    height: 3%;
}
#main-container{
    flex-direction: column;
    margin: 5px 5px;
    width: 100%;
}
#signin-form-container{
    align-items: center;
    width: 90%;
    height: 50%;
    margin: 3px 3px;
}
#signin-heading-container{
    width: 80%;
    margin: 10px 5px;
    padding: 5px 10px;
    font-size: 1.5rem;
}
#signin-form{
}
.form-field{
    margin: 5px;
    width: 70%;
    height: 40px;
    border-radius: 10px;
}
.form-field input{
    height: 90%;
}
#sign-in-error-box{
    height: 8px;
    font-size: 1rem;
    color: red;
}
#signin-btn{
    width: 30%;
    font-size: 1.2rem;
}

#about-container{
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 90%;
    margin: 10px 0px;
}
#about-image-container{
    width: 60%;
    height: 30%;
    margin: 5px;
}
#about-image-container img{
    max-width: 90%;
    max-height: 90%;
}
#about-content-container1{
    text-align: center;
    margin: 5px;
    font-size: 0.8rem;
}
#about-content-container2{
    text-align: center;
    margin: 5px;
    font-size: 0.8rem;
}

#section2{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5vh;
    font-size: 0.8rem;
}